@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.page-content {
  padding: 5rem 3rem;
}

.cv-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  overflow-x: scroll;
  @media screen and (max-width: 910px ) {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 910px) {
  .cv-container > * {
    flex-basis: 100%;
  }
}

iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 1 / 1;
}

/* buttons */
button, .download-button a {
  padding: 0.6rem 1rem;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: fit-content;
  transition: all 0.2s;
  border: 2px solid #000;
}
button:hover, .download-button a:hover {
  color: #000;
  background-color: #fff;
}